table thead, table tbody {
  display: inline-table;
  width: 100%;
}

.form-section input {
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid #00AAE7;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

input.form-control::placeholder {
  font-family: 'FontAwesome';
}
