<ng-template [ngIf]="this.adminRouter.currentRoute === '/admin/users'">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/admin">Admin</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
          <div class="auth-container">
            <a (click)="this.adminRouter.logOut()">Logout</a>
          </div>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 offset-lg-3">
      <a routerLink="/admin/users/overview" class="btn btn-category">
        Overview
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <a routerLink="/admin/users/create" class="btn btn-category">
        Create
      </a>
    </div>
  </div>
</ng-template>
<router-outlet></router-outlet>
