<div class="nav-bar">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li class="dropdown"><a routerLink="/meldingen">Meldingen</a>
      <div class="dropdownContent">
        <a routerLink="/meldingen/openstaand">Openstaand</a>
        <a routerLink="/meldingen/ophalen">Ophalen</a>
      </div>
    </li>
    <li class="dropdown"><a routerLink="/producten">Producten</a>
      <div class="dropdownContent">
        <a routerLink="/producten/extern">Externe producten</a>
        <a routerLink="/producten/bijzonder">Bijzondere producten</a>
      </div>
    </li>
    <div class="right">
      <li><a routerLink="/signin">Mijn account</a></li>
    </div>
  </ul>
</div>
