<!--<div class="nav-bar">-->
<!--  <ul>-->
<!--    <li *ngIf="runnerMode"><a routerLink="/">Home</a></li>-->
<!--    <li *ngIf="runnerMode" class="dropdown"><a routerLink="/meldingen">Meldingen</a>-->
<!--      <div class="dropdownContent">-->
<!--        <a routerLink="/meldingen-openstaand">Openstaand</a>-->
<!--        <a routerLink="/meldingen/ophalen">Ophalen</a>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li *ngIf="runnerMode" class="dropdown"><a routerLink="/producten">Producten</a>-->
<!--      <div class="dropdownContent">-->
<!--        <a routerLink="/producten/extern">Externe producten</a>-->
<!--        <a routerLink="/producten/bijzonder">Bijzondere producten</a>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li *ngIf="mechanicMode" class="dropdown">-->
<!--      <a routerLink="/request-Form">temp plek</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a *ngIf="mechanicMode" routerLink="/damaged-form">Damaged form</a>-->
<!--    </li>-->
<!--    <div class="right">-->
<!--      <li><a routerLink="/signin">Mijn account</a></li>-->
<!--      <li *ngIf="runnerMode || mechanicMode;" (click)="logOut()"><a routerLink="/">Log out</a></li>-->
<!--    </div>-->

<!--    <li class="dropdown"><a>Personeel</a>-->
<!--      <div class="dropdownContent">-->
<!--        <a (click)="showRunner()">Runner</a>-->
<!--        <a (click)="showMechanic()">Mechanic</a>-->
<!--      </div>-->
<!--    </li>-->

<!--  </ul>-->
<!--</div>-->

<!--Nav-bar linkerkant-->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #00AAE7">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <ng-template [ngIf]="runnerMode">
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meldingen
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu" style="background-color: #00AAE7">
                <a class="dropdown-item" routerLink="/meldingen-openstaand">Openstaande meldingen</a>
                <a class="dropdown-item" routerLink="/meldingen/afzetten">Afzetten</a>
                <a class="dropdown-item" routerLink="/meldingen/ophalen">Ophalen</a>
              </div>
            </li>
      
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Producten
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #00AAE7">
                <a class="dropdown-item" routerLink="/producten/extern">Externe producten</a>
                <a class="dropdown-item" routerLink="/producten/bijzonder">Bijzondere producten</a>
              </div>
            </li>
      </ng-template>
      <ng-template [ngIf]="mechanicMode">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/request-Form">Aanvraag formulier<span class="sr-only">(current)</span></a>
            </li>
      
            <li class="nav-item active">
              <a class="nav-link" routerLink="/damaged-form">Beschadigd product<span class="sr-only">(current)</span></a>
            </li>
      </ng-template>
    

<!--      <li class="nav-item dropdown active">-->
<!--        <a class="nav-link dropdown-toggle" id="navbarDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Personeel-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdownLink" style="background-color: #00AAE7">-->
<!--            <a class="dropdown-item" style=" color: white; background-color: #00AAE7;" (click)="showRunner()">Runner</a>-->
<!--            <a class="dropdown-item" style=" color: white; background-color: #00AAE7;" (click)="showMechanic()">Mechanic</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>

<!--  Nav-bar rechterkant-->
  <div class="collapse navbar-collapse" id="navbarNavDropdow">
    <ul class="navbar-nav ml-auto">
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" routerLink="/signin">Mijn account<span class="sr-only">(current)</span></a>-->
<!--      </li>-->
      <li class="nav-item active" (click)="logOut()">
        <a class="nav-link" routerLink="/signin">Log out<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
