<div class="nav-bar">
  <ul>
    <li *ngIf="runnerMode"><a routerLink="/">Home</a></li>
    <li *ngIf="runnerMode" class="dropdown"><a routerLink="/meldingen">Meldingen</a>
      <div class="dropdownContent">
        <a routerLink="/meldingen-openstaand">Openstaand</a>
        <a routerLink="/meldingen/ophalen">Ophalen</a>
      </div>
    </li>
    <li *ngIf="runnerMode" class="dropdown"><a routerLink="/producten">Producten</a>
      <div class="dropdownContent">
        <a routerLink="/producten/extern">Externe producten</a>
        <a routerLink="/producten/bijzonder">Bijzondere producten</a>
      </div>
    </li>
    <li *ngIf="mechanicMode" class="dropdown">
      <a routerLink="/request-Form">temp plek</a>
    </li>
    <li>
      <a *ngIf="mechanicMode" routerLink="/damaged-form">Damaged form</a>
    </li>
    <div class="right">
      <li><a routerLink="/signin">Mijn account</a></li>
      <li *ngIf="runnerMode || mechanicMode;" (click)="logOut()"><a routerLink="/">Log out</a></li>
    </div>

    <li class="dropdown"><a>Personeel</a>
      <div class="dropdownContent">
        <a (click)="showRunner()">Runner</a>
        <a (click)="showMechanic()">Mechanic</a>
      </div>
    </li>

  </ul>
</div>
