<!-- Button trigger modal -->
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/mechanic">Mechanic</a>
        </li>
        <li class="breadcrumb-item active" area-current="page">
          <a routerLink="/mechanic/damaged-form">Schade melden</a>
        </li>
        <div class="auth-container">
          <a (click)="this.mechanicRouter.logOut()">Logout</a>
        </div>
      </ol>
    </nav>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSchadeformulier">
  Schade melden
</button>

<!-- Modal -->
<div class="modal fade" id="ModalSchadeformulier" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Storingsformulier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="onSumbitDamageForm(damageForm)" #damageForm="ngForm">

          <div class="form-row">
            <div class="col"><label for="melder"></label>
              <input type="text" class="form-control" id="melder"
                     placeholder="ID melder" readonly>
            </div>
            <div class="col"><label for="datum"></label>
              <input type="text" class="form-control" id="datum"
                     placeholder="Timestamp" readonly>
            </div>
          </div>
          <br>

          <div class="form-row">
            <div class="col">
              <input type="checkbox"> betreft geregistreerd equipment
            </div>
            <div class="col">
              <input type="checkbox"> is van huishoudelijk aard
            </div>
          </div>
          <br>

          <div class="form-row">
            <label for="locatie"></label>
            <input type="text" class="form-control" id="locatie" placeholder="Locatie" required>
          </div>
          <br>

          <div class="form-row">
            <select name="planeType" class="dropdown-input feedback-input"
                    [(ngModel)]="planeType"
                    required>
              <option>{{planeType}}</option>
              <option
                *ngFor="let type of planeTypeList| slice:1">{{type}}</option>
            </select>
          </div>

          <div class="form-row">
            <label for="omschrijving"></label>
            <textarea type="text" class="form-control" cols="20" rows="10" id="omschrijving"
                      placeholder="Vul hier een omschrijving" required></textarea>
          </div>
          <br>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="bevestigd()">Melding plaatsen</button>
      </div>

    </div>
  </div>
</div>

<div *ngIf="popupOpen" class="popup">
  <span>Is bevestigd!</span>
</div>
