<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/admin">Admin</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/admin/users">Users</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
        <div class="auth-container">
          <a (click)="this.adminRouter.logOut()">Logout</a>
        </div>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="alert alert-success fade" [ngClass]="{'show': showMessage, 'hide': !showMessage}">
      successfully created a new user
    </div>
    <form (ngSubmit)="createNewUser(form)" #form="ngForm" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Email</label>
          <input type="email" name="email" placeholder="email" class="form-control" email="true"
                 ngModel required>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Password</label>
          <input type="password" name="password" placeholder="password" class="form-control" ngModel required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Firstname</label>
          <input type="text" name="firstname" placeholder="firstname" class="form-control" ngModel
                 required>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Lastname</label>
          <input type="text" name="lastname" placeholder="lastname" class="form-control" ngModel
                 required>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Role</label>
          <select name="role" class="form-control" ngModel required>
            <option *ngFor="let role of rolesList| keyvalue" [value]="role.value">
              {{role.value}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <button class="btn btn-success" [disabled]="form.invalid">Create user</button>
        </div>
      </div>
    </form>
  </div>
</div>
