<div *ngIf="differentTireTypes; else enkelType">
<input name="tijd" type="number" class="feedback-input" placeholder="Aantal neus Banden"
       [(ngModel)]="noseTires"
       [required]="mainTires < 1 || mainTires === undefined"/>
<input name="tijd" type="number" class="feedback-input" placeholder="Aantal main Banden"
       [(ngModel)]="mainTires"
       [required]="noseTires < 1 || noseTires === undefined"/>
</div>

<ng-template #enkelType>
  <input name="tijd" type="number" class="feedback-input" placeholder="Amount of tires needed" [(ngModel)]="mainTires" required/>
</ng-template>
