nav .breadcrumb {
  display: block;
  width: 100%;
}

li.breadcrumb-item {
  display: initial;
}

.auth-container {
  float: right;
}

table thead, table tbody {
  display: inline-table;
  width: 100%;
}

.form-section input {
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid #00AAE7;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

input.form-control::placeholder {
  font-family: 'FontAwesome';
}

table{
  border-collapse: collapse;
}

th, td{
  width: 12.5%;
  padding: 8px;
  font-size: var(--application-font-size);
}

.table thead th {
  border-bottom: none;
}

th {
  cursor: default;
  text-align: center;
  color: white;
  background-color: #00AAE7;
  border: none;
}

td {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 280px;
  text-align: center;
}

tr td {
  border-bottom: 1px solid lightgray;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th:last-child {
  border-top-right-radius: 10px;
}

th:first-child {
  border-top-left-radius: 10px;
}
