.header {
  position: relative;
  top: 20px;
  width: 100%;
  height: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header .klm-logo {
  width: 450px;
  height: 250px;
  position: relative;
  text-align: center;
  display: block;
  margin: auto;
}
