<div class="row">
  <div class="col-12">
    <div class="form-section">
      <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="filter to find wagon" autocomplete="off"
               [(ngModel)]="equipmentSearch">
      </div>
    </div>
    <div class="form-group">
      <table class="table">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Type of wagon</th>
          <th scope="col">Status</th>
          <th scope="col">Location</th>
        </tr>
        <tr *ngFor="let cart of this.carts | wagonsFilter: equipmentSearch">
          <td scope="row"><b>{{cart.id}}</b></td>
          <td>{{cart.title}}</td>
          <td>{{cart.carttype}}</td>
          <td>{{cart.equipmentStatus}}</td>
          <td>({{cart.lat}} - {{cart.lng}})</td>
        </tr>
      </table>
    </div>
  </div>
</div>
