<h1>Openstaande meldingen</h1>
<hr>
<br><br>
<div class="tabeldiv">
  <table>
    <tr>
      <th>Melder nr</th>
      <th>Oproep tijd</th>
      <th>Equipment</th>
      <th>Positie</th>
      <th>Bestemming</th>
      <th>Deathline</th>
      <th>Situatie</th>
    </tr>
    <tr (click)="nextScreen()">
      <td>0680</td>
      <td>09:00</td>
      <td>Stikstofwagen<br>Bandenwagen</td>
      <td>L<br>R</td>
      <td>F5</td>
      <td>10:00</td>
      <td>Afzetten</td>
      <td><button class="acceptBtn">Accepteren</button></td>
    </tr>
  </table>
</div>
