.under-title {
  color: var(--color-blue);
  font-size: 4em;
  font-weight: 300;
  text-align: center;
}

.form-section input {
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid var(--color-blue);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.form-section input.ng-touched.ng-invalid {
  border: 2px red solid;
}

.form-section input.ng-touched.ng-valid {
  border: 2px green solid;
}

.form-section button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: var(--color-blue);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--color-white);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

/*Loading animation*/
.svg-calLoader {
  display: block;
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
  margin: auto;
}

.cal-loader__plane {
  fill: var(--color-blue);
}

.cal-loader__path {
  stroke: #000;
  animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}
