#map-container {
  height: 500px;
  width: 100%;
}

#jpt .wagons-container .card-body,
#jpt .wagons-container .card-header {
  padding: 5px;
}

.leaflet-control-layers-toggle {
  display: none !important;
}

h3 {
  margin-top: 15px;
}
