<div class="container">
  <div class="row">
    <div class="col-12 col-md-10">
      <div id="map-container"></div>
    </div>
    <div class="col-md-2">
      <h2>Beheer</h2>
      <div>
        <div id="jpt">
          <div class="wagons-container">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header">
                  <span class="col-form-label" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="true" aria-controls="collapseOne">
                    Wagens
                  </span>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                  <div class="card-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="bezorgdbtn" (click)="this.meldingService.bezorgd(meldingService.index)">Bezorgd!</button>

        <div class="new-parent"></div>
      </div>
    </div>
  </div>
